# Instalar lo siguiente
#comando de instalación: "pip install streamlit opencv-python scikit-image scipy matplotlib Pillow numpy"
streamlit
opencv-python-headless
scikit-image
scipy
matplotlib
Pillow
numpy
reportlab
